html{
    height: 100%;
    margin: 0;
}

body{ // Just setting up the background image for desktops
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/pattern-background-desktop.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
footer{ // This keeps the Frontend Mentor credits at the bottom of the page
    position: absolute;
    bottom: 0;
}

// Mobile Browser
@media only screen and (max-width: 640px) and (min-width: 240px){
    body{ // And this sets the background for mobile/tablets
        background-image: url('/images/pattern-background-mobile.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}
